*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.dvi
*.exe
*.fdb_latexmk
*.glg
*.glo
*.gls
*.html
*.idx
*.ilg
*.ind
*.ist
*.jpg
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.png
*.ps
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xcf
*.xdy
*.tdo
*.zip
build/
